/****************************************
            COMMON ELEMENTS
*****************************************/

/* CUSTOM PROPERTIES */

:root {
    --main-text-color: #0C0F13;
    --alt-text-color: #130D0C;

    --font-script: "Dynalight", serif;
    --font-handwritten: "Indie Flower", cursive;
    --font-serif: "PT Serif", serif;
    --font-sans: "Roboto", sans-serif;
}

/*  STRUCTURING */

/* h1, h2, h3, h4, a, body, p, ul, ol, menu, div, article, header, aside {
    outline:purple 1px solid;
} */

body {
    outline: red solid 5px;
}

/* CSS RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, a, body, p, ul, ol, menu, div, article {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p, small {
    text-wrap: pretty;
}

body {
    color: var(--main-text-color);
}

/* FONTS */

.dyna-font {
    font: 3rem var(--font-script);
    text-wrap: nowrap;
    color: #784E48;
}

.flower-font {
    font: 1rem/1.4 var(--font-handwritten);
}

.pt-font {
    font: 1rem/1.5 var(--font-serif);
}

.roboto-font {
    font: 1rem/1.5 var(--font-sans);
}

/****************************************
               STRUCTURE
*****************************************/

/* BACKGROUND IMAGES */

html {
    scroll-behavior: smooth;
}

body {
    background:
        radial-gradient(ellipse 60% 50%, transparent 65%, #130D0C55 95%, #130D0C77 100%) no-repeat,
        url(../src/background_large.png) no-repeat center / cover;
        background-color: #9C655D;
    min-height: 100vh;
    display: block flow-root;
    position: relative;
}

.section-home-container {
    background: url(../src/certificate_large.png) no-repeat center / contain;
    aspect-ratio: 1539/1034;
    width: 40vw;
    max-width: 80rem;
    position: relative;
    margin: 10vh auto 0;
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet {
    position: relative;
    aspect-ratio: 1657/3217;
    max-width: 80rem;
    width: 40vw;
    top: -2vh;
    margin: 0 auto;
}

.filing-cabinet > div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.filing-cabinet__back {
    background-image: url(../src/fcabinet_slots_large.png);
    inset: 20.44% 7.22% 29.37%;
}

.filing-cabinet__folders-1 {
    background-image: url(../src/fcabinet_folders_large.png);
    inset: 11.49% 11.89% 79.46%;
}

.filing-cabinet__folders-2 {
    background-image: url(../src/fcabinet_folders_large.png);
    inset: 39.54% 11.89% 51.42%;
}

.filing-cabinet__front {
    background-image: url(../src/fcabinet_structure_large.png);
    inset: 0;
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-1 {
    background-image: url(../src/fcabinet_drawer1_large.png);
    inset: 20.44% 7.22% 55.07%;
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-2 {
    background-image: url(../src/fcabinet_drawer2_large.png);
    inset: 48.5% 9.07% 29.37%;
    filter: drop-shadow(0 0 5px #130D0C);
}

/* SCROLL ANIMATION */

.section-home-container {
    animation: 1ms linear scroll-follow-home; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

.filing-cabinet {
    animation: 1ms linear scroll-follow-fcabinet; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

@keyframes scroll-follow-home {
    from { transform: translateY(0); }
    to { transform: translateY(min(-3vh, -6vw)); }
}

@keyframes scroll-follow-fcabinet {
    from { transform: translateY(0); }
    to { transform: translateY(min(-5vh, -10vw)); }
}

.filing-cabinet__drawer-1 {
    animation: 1ms linear scroll-open-drawer-1; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

.filing-cabinet__drawer-2 {
    animation: 1ms linear scroll-open-drawer-2; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll()
}

.filing-cabinet__folders-1 {
    animation: 1ms linear scroll-open-folders-1; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

.filing-cabinet__folders-2 {
    animation: 1ms linear scroll-open-folders-2; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

@keyframes scroll-open-drawer-1 {
    10%, 50% { transform: translateY(0); scale: 1; }
    25%, 35% { transform: translateY(40%); scale: 1.08; }
}

@keyframes scroll-open-drawer-2 {
    55%, 95% { transform: translateY(0); scale: 1; }
    70%, 80% { transform: translateY(40%); scale: 1.08; }
}

@keyframes scroll-open-folders-1 {
    10%, 55% { transform: translateY(0); scale: 1; }
    25%, 35% { transform: translateY(96%); scale: 1.08; }
}

@keyframes scroll-open-folders-2 {
    55%, 95% { transform: translateY(0); scale: 1; }
    70%, 80% { transform: translateY(90%); scale: 1.05; }
}

/* UI ELEMENTS */

.nav-container {
    background: url(../src/postit_large.png) no-repeat center / contain;
    aspect-ratio: 939/925;
    height: max(45vh, 23vw);
    position: fixed;
    top: -5vh;
    left: 2vw;
    transform: rotate(4deg);
    z-index: 10;
    filter: drop-shadow(0 0 5px #130D0C);
}

.options-container {
    background: url(../src/sheet_large.png) no-repeat center / contain;
    display: block flow-root;
    aspect-ratio: 1106/655;
    height: max(25vh, 13vw);
    position: fixed;
    bottom: -2vh;
    left: 2.5vw;
    transform: rotate(-2deg);
    z-index: 10;
    filter: drop-shadow(0 0 5px #130D0C);
}

.viewport-overlay-upper-gradient {
    background: linear-gradient(#130D0C88, transparent);
    position: fixed;
    inset: 0 0 auto 0;
    height: 10vh;
}

.viewport-overlay-lower-gradient {
    background: linear-gradient(transparent, #130D0C88);
    position: fixed;
    inset: auto 0 0 0;
    height: 10vh;
}

.footer-overlay-gradient {
    background: radial-gradient(110% 80% at center bottom, #1D130F 60%, 85%, transparent);
    height: 70vh;
    max-height: 30%;
    position: absolute;
    inset: auto 0 0 0;
}

/* STRUCTURE MEDIA QUERIES */

@media (orientation: portrait) and (max-width: 1200px) {
    .section-home-container {
        width: 90vw;
        margin-top: 20vh;
    }
    .filing-cabinet {
        width: 95vw;
        top: -1vh;
    }
    .nav-container {
        height: 60vw;
        max-height: 30vh;
        top: -4vh;
        left: -30px;
        transform: rotate(5deg);
    }
    .options-container {
        height: clamp(25vw, 18vh, 30vw);
        left: auto;
        right: -2vw;
        transform: rotateY(180deg) rotate(3deg);
        & .options {
            transform: rotatey(180deg);
        }
    }
}

@media (orientation: landscape) and (max-width:1500px) {
    .section-home-container {
        width: 50vw;
        left: 15vw;
    }
    .filing-cabinet {
        width: 50vw;
        left: 15vw;
    }
}

/****************************************
                 NAV
*****************************************/

.nav {
    position: fixed;
    inset: 20% 10% 10% 20%;
    text-align: center;
    font-size: max(4vw, 3vh);
}

/****************************************
           LANGUAGE SELECTOR
*****************************************/

/****************************************
                 HOME
*****************************************/

.section-home {
    position: absolute;
    inset: 15% 10%;
    text-align: center;
}

/****************************************
                SKILLS
*****************************************/

/* STICKMAN ANIMATION */

.animation{
    margin: 200px 20px 20px;
    background-image: url(../src/skillanimation_sprite_large.png);
    background-repeat: no-repeat;
    width: calc(665px/5);
    height: calc(396px/2);
    border: 5px solid red;
    animation: 1.8s steps(1) infinite static-animation;
}

.activator {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 5px black solid;
    position: relative;
    top: -400px;
    right: -400px;
    border-radius: 50%;
    transition: 1s box-shadow, 0.5s scale;
}

.activator:hover {
    box-shadow: 0 0 10px 20px rgba(252, 240, 169, 0.972);
    scale: 1.1;
}

.animation:has(+.activator:hover) {
    animation: 
        0.5s steps(1) trans-animation,
        1.8s 0.5s steps(1) infinite speak-animation;
}

@keyframes static-animation {
    0% { background-position: 0 0; }
    14.3%  { background-position: -133px 0; }
    28.6%  { background-position: -266px 0; }
    42.9%  { background-position:   0px 0; }
    57.2%  { background-position: -133px 0; }
    71.5%  { background-position: -266px 0; }
    85.8% { background-position: -399px 0; }
}

@keyframes trans-animation {
    0% {
        background-position: -532px 0;
    }
    50% {
        background-position: 0 -198px;
    }
}

@keyframes speak-animation {
    0% { background-position: -133px -198px; }
    14.3%  { background-position: -266px -198px; }
    28.6%  { background-position: -399px -198px; }
    42.9%  { background-position: -133px -198px; }
    57.2%  { background-position: -266px -198px; }
    71.5%  { background-position: -399px -198px; }
    85.8% { background-position: -532px -198px; }
}

/****************************************
               PROJECTS
*****************************************/

/****************************************
                CONTACT
*****************************************/

/****************************************
                FOOTER
*****************************************/