/****************************************
            COMMON ELEMENTS
*****************************************/

/* CUSTOM PROPERTIES */

:root {
    --main-text-color: #0C0F13;
    --alt-text-color: #130D0C;

    --font-script: "Dynalight", serif;
    --font-handwritten: "Indie Flower", cursive;
    --font-serif: "PT Serif", serif;
    --font-sans: "Roboto", sans-serif;
}

/* CSS RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, a, body, p, ul, ol, menu, div, article {
    margin: 0;
    outline:purple 1px solid; /* Structuring */
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p, small {
    text-wrap: pretty;
}

body {
    outline: red solid 5px;
    color: var(--main-text-color);
}

/* FONTS */

.dyna-font {
    font: 3rem var(--font-script);
    text-wrap: nowrap;
    color: #784E48;
}

.flower-font {
    font: 1rem/1.4 var(--font-handwritten);
}

.pt-font {
    font: 1rem/1.5 var(--font-serif);
}

.roboto-font {
    font: 1rem/1.5 var(--font-sans);
}

/****************************************
               STRUCTURE
*****************************************/

/* BACKGROUND IMAGES */

html {
    width: 100%;
}

body {
    background:
        radial-gradient(transparent, 60%, #130D0C77 80%, #130D0C99 100%) no-repeat,
        url(../src/background_large.png) no-repeat center / cover;
        background-color: #9C655D;
    width: 100%;
    min-height: 100vh;
    display: block flow-root;
}

.section-home {
    background: url(../src/certificate_large.png) no-repeat center / contain;
    aspect-ratio: 1539/1034;
    min-width: 25rem;
    max-width: 95%;
    width: 50vw;
    position: relative;
    margin: 10vh auto 0;
    filter: drop-shadow(0 0 5px #130D0C);
}

.section-home__wrapper {
    position: absolute;
    inset: 15% 10%;
    text-align: center;
}

.filing-cabinet {
    position: relative;
    aspect-ratio: 2126/3543;
    width: 70vw;
    min-width: 30rem;
    top: -10vh;
    margin: 0 auto;
}

.filing-cabinet > div {
    inset: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.filing-cabinet__back {
    background-image: url(../src/fcabinet_slots_large.png);
}


.filing-cabinet__front {
    background-image: url(../src/fcabinet_structure_large.png);
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-1 {
    background-image: url(../src/fcabinet_drawer1_large.png);
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-2 {
    background-image: url(../src/fcabinet_drawer2_large.png);
    filter: drop-shadow(0 0 5px #130D0C);
}

/* SCROLL ANIMATION */


/* UI ELEMENTS */

.options {
    background-image: url(../src/sheet_large.png);
    height: 200px;
}

.nav {
    background-image: url(../src/postit_large.png);
    height: 100px;
}

/****************************************
                 NAV
*****************************************/

/****************************************
           LANGUAGE SELECTOR
*****************************************/

/****************************************
                 HOME
*****************************************/

/****************************************
                SKILLS
*****************************************/

/* STICKMAN ANIMATION */

.animation{
    margin: 200px 20px 20px;
    background-image: url(../src/skillanimation_sprite_large.png);
    background-repeat: no-repeat;
    width: calc(665px/5);
    height: calc(396px/2);
    border: 5px solid red;
    animation: 1.8s steps(1) infinite static-animation ;
}

.activator {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 5px black solid;
    position: relative;
    top: -400px;
    right: -400px;
    border-radius: 50%;
    transition: 1s box-shadow, 0.5s scale;
}

.activator:hover {
    box-shadow: 0 0 10px 20px rgba(252, 240, 169, 0.972);
    scale: 1.1;
}

.animation:has(+.activator:hover) {
    animation: 
        0.5s steps(1) trans-animation,
        1.8s 0.5s steps(1) infinite speak-animation;
}

@keyframes static-animation {
    0% { background-position: 0 0; }
    14.3%  { background-position: -133px 0; }
    28.6%  { background-position: -266px 0; }
    42.9%  { background-position:   0px 0; }
    57.2%  { background-position: -133px 0; }
    71.5%  { background-position: -266px 0; }
    85.8% { background-position: -399px 0; }
}

@keyframes trans-animation {
    0% {
        background-position: -532px 0;
    }
    50% {
        background-position: 0 -198px;
    }
}

@keyframes speak-animation {
    0% { background-position: -133px -198px; }
    14.3%  { background-position: -266px -198px; }
    28.6%  { background-position: -399px -198px; }
    42.9%  { background-position: -133px -198px; }
    57.2%  { background-position: -266px -198px; }
    71.5%  { background-position: -399px -198px; }
    85.8% { background-position: -532px -198px; }
}

/****************************************
               PROJECTS
*****************************************/

/****************************************
                CONTACT
*****************************************/

/****************************************
                FOOTER
*****************************************/