/****************************************
            COMMON ELEMENTS
*****************************************/

/* CUSTOM PROPERTIES */

:root {
    --main-text-color: #0C0F13;
    --alt-text-color: #130D0C;

    --font-script: "Dynalight", serif;
    --font-handwritten: "Indie Flower", cursive;
    --font-serif: "PT Serif", serif;
    --font-sans: "Roboto", sans-serif;
}

/* CSS RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, a, body, p, ul, ol, menu, div, article {
    margin: 0;
    outline:purple 1px solid; /* Structuring */
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p, small {
    text-wrap: pretty;
}

body {
    outline: red solid 5px;
    color: var(--main-text-color);
}

/* FONTS */

.dyna-font {
    font: 3rem var(--font-script);
    text-wrap: nowrap;
    color: #784E48;
}

.flower-font {
    font: 1rem/1.4 var(--font-handwritten);
}

.pt-font {
    font: 1rem/1.5 var(--font-serif);
}

.roboto-font {
    font: 1rem/1.5 var(--font-sans);
}

/****************************************
               STRUCTURE
*****************************************/

/* BACKGROUND IMAGES */

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    background:
        radial-gradient(ellipse 60% 50%, transparent 65%, #130D0C55 95%, #130D0C77 100%) no-repeat,
        url(../src/background_large.png) no-repeat center / cover;
        background-color: #9C655D;
    width: 100%;
    min-height: 100vh;
    display: block flow-root;
    position: relative;
}

.section-home-container {
    background: url(../src/certificate_large.png) no-repeat center / contain;
    aspect-ratio: 1539/1034;
    width: 40vw;
    max-width: 80rem;
    position: relative;
    margin: 10vh auto 0;
    filter: drop-shadow(0 0 5px #130D0C);
}

.section-home {
    position: absolute;
    inset: 15% 10%;
    text-align: center;
}

.filing-cabinet {
    position: relative;
    aspect-ratio: 1657/3217;
    max-width: 80rem;
    width: 40vw;
    top: -2vh;
    margin: 0 auto;
}

.filing-cabinet > div {
    inset: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.filing-cabinet__back {
    background-image: url(../src/fcabinet_slots_large.png);
}

.filing-cabinet__front {
    background-image: url(../src/fcabinet_structure_large.png);
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-1 {
    background-image: url(../src/fcabinet_drawer1_large.png);
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-2 {
    background-image: url(../src/fcabinet_drawer2_large.png);
    filter: drop-shadow(0 0 5px #130D0C);
}

/* SCROLL ANIMATION */


/* UI ELEMENTS */

.nav-container {
    background: url(../src/postit_large.png) no-repeat center / contain;
    aspect-ratio: 1021/1109;
    height: 45vh;
    position: fixed;
    top: -5vh;
    left: 2vw;
    transform: rotate(4deg);
    z-index: 10;
    filter: drop-shadow(0 0 5px #130D0C);
}

.options-container {
    background: url(../src/sheet_large.png) no-repeat center / contain;
    display: block flow-root;
    aspect-ratio: 1106/655;
    height: 25vh;
    position: fixed;
    bottom: -2vh;
    left: 2vw;
    transform: rotate(-2deg);
    z-index: 10;
    filter: drop-shadow(0 0 5px #130D0C);
}

.viewport-overlay-gradient {
    background: linear-gradient(#130D0C88, 2%, transparent 10% 90%, 98%, #130D0C88);
    position: fixed;
    inset: 0 0 0 0;
}

.footer-overlay-gradient {
    background: linear-gradient(transparent, #130D0C 70%);
    height: 70vh;
    max-height: 30%;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

/* STRUCTURE MEDIA QUERIES */

@media (orientation: portrait) and (max-width: 1200px) {
    .section-home-container {
        width: 90vw;
        margin-top: 20vh;
    }
    .filing-cabinet {
        width: 95vw;
        top: -1vh;
    }
    .nav-container {
        height: 60vw;
        /* height: 27vh; */
        max-height: 30vh;
        top: -4vh;
        left: -30px;
        transform: rotate(5deg);
    }
    .options-container {
        height: clamp(25vw, 18vh, 30vw);
        left: auto;
        right: -2vw;
        transform: rotateY(180deg) rotate(3deg);
        & .options {
            transform: rotatey(180deg);
        }
    }
}

@media (orientation: landscape) and (max-width:1400px) {
    .section-home-container {
        width: 50vw;
        left: 15vw;
    }
    .filing-cabinet {
        width: 50vw;
        left: 15vw;
    }
}

/****************************************
                 NAV
*****************************************/

/****************************************
           LANGUAGE SELECTOR
*****************************************/

/****************************************
                 HOME
*****************************************/

/****************************************
                SKILLS
*****************************************/

/* STICKMAN ANIMATION */

.animation{
    margin: 200px 20px 20px;
    background-image: url(../src/skillanimation_sprite_large.png);
    background-repeat: no-repeat;
    width: calc(665px/5);
    height: calc(396px/2);
    border: 5px solid red;
    animation: 1.8s steps(1) infinite static-animation;
}

.activator {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 5px black solid;
    position: relative;
    top: -400px;
    right: -400px;
    border-radius: 50%;
    transition: 1s box-shadow, 0.5s scale;
}

.activator:hover {
    box-shadow: 0 0 10px 20px rgba(252, 240, 169, 0.972);
    scale: 1.1;
}

.animation:has(+.activator:hover) {
    animation: 
        0.5s steps(1) trans-animation,
        1.8s 0.5s steps(1) infinite speak-animation;
}

@keyframes static-animation {
    0% { background-position: 0 0; }
    14.3%  { background-position: -133px 0; }
    28.6%  { background-position: -266px 0; }
    42.9%  { background-position:   0px 0; }
    57.2%  { background-position: -133px 0; }
    71.5%  { background-position: -266px 0; }
    85.8% { background-position: -399px 0; }
}

@keyframes trans-animation {
    0% {
        background-position: -532px 0;
    }
    50% {
        background-position: 0 -198px;
    }
}

@keyframes speak-animation {
    0% { background-position: -133px -198px; }
    14.3%  { background-position: -266px -198px; }
    28.6%  { background-position: -399px -198px; }
    42.9%  { background-position: -133px -198px; }
    57.2%  { background-position: -266px -198px; }
    71.5%  { background-position: -399px -198px; }
    85.8% { background-position: -532px -198px; }
}

/****************************************
               PROJECTS
*****************************************/

/****************************************
                CONTACT
*****************************************/

/****************************************
                FOOTER
*****************************************/