/****************************************
            COMMON ELEMENTS
*****************************************/

/* CUSTOM PROPERTIES */

:root {
    --main-text-color: #130D0C;
    --alt-text-color: #0C0F13;
    --light-ui-color: #C49776;
    --dark-ui-color: #32271F;

    --font-script: "Dynalight", serif;
    --font-handwritten: "Indie Flower", cursive;
    --font-serif: "PT Serif", serif;
    --font-sans: "Roboto", sans-serif;
}

/*  STRUCTURING */

/* h1, h2, h3, h4, a, body, p, ul, ol, menu, div, article, header, aside {
    outline:purple 1px solid;
} */

/* body {
    outline: red solid 5px;
} */

/* CSS RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, a, body, p, ul, ol, menu, div, article {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p, small {
    text-wrap: pretty;
    hyphens: auto;
}

input, button, textarea, select {
    font: inherit;
}

body {
    color: var(--main-text-color);
}

/* BACKGROUND IMAGES */

body, .home, .section-doc, .nav, .options, .filing-cabinet > div > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

/* FONTS */

/* 
Container query units are used along all the texts when the browser supports them.
As a fallback, this system with custom properties is used.
*/


/****************************************
               STRUCTURE
*****************************************/

/* PORTFOLIO SECTIONS */

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--dark-ui-color) var(--light-ui-color);
}

body {
    background-color: #9C655D;
    background-size: cover;
    background-image:
        radial-gradient(ellipse 60% 50%, transparent 65%, #130D0C55 95%, #130D0C77 100%),
        url(../src/background/background_alt.png);
    background-image:
        radial-gradient(ellipse 60% 50%, transparent 65%, #130D0C55 95%, #130D0C77 100%),
        image-set(
            url(../src/background/background_medium.webp) 1x,
            url(../src/background/background_large.webp) 2x
        );
    min-height: 100vh;
    display: block flow-root;
    position: relative;
}

.home {
    background-image: url(../src/fcabinet/certificate_alt.png);
    background-image: 
        image-set(
            url(../src/fcabinet/certificate_medium.webp) 1x,
            url(../src/fcabinet/certificate_large.webp) 2x
        );
    aspect-ratio: 1200/806;
    width: 40vw;
    max-width: 80rem;
    position: relative;
    margin: 10vh auto 0;
    box-shadow: 0 0 7px 3px #130D0C99;
}

.section-doc {
    position: fixed;
    z-index: 30;
    height: 95vh;
    inset: 0;
    margin: auto;
    filter: drop-shadow(0 0 5px #130D0C);
    overflow: clip;
    overflow-clip-margin: content-box;
}

.about-me {
    background-image: url(../src/documents/document1_alt.png);
    background-image: 
        image-set(
            url(../src/documents/document1_medium.webp) 1x,
            url(../src/documents/document1_large.webp) 2x
        );
    aspect-ratio: 1218/1600;
}

.skills {
    background-image: url(../src/documents/document2_alt.png);
    background-image: 
        image-set(
            url(../src/documents/document2_medium.webp) 1x,
            url(../src/documents/document2_large.webp) 2x
        );
    aspect-ratio: 1190/1600;
    height: 90vh;
}

.projects {
    background-image: url(../src/documents/document3_alt.png);
    background-image: 
        image-set(
            url(../src/documents/document3_medium.webp) 1x,
            url(../src/documents/document3_large.webp) 2x
        );
    aspect-ratio: 1144/1600;
}

.contact {
    background-image: url(../src/documents/document4_alt.png);
    background-image: 
        image-set(
            url(../src/documents/document4_medium.webp) 1x,
            url(../src/documents/document4_large.webp) 2x
        );
    aspect-ratio: 1151/1600;
}

/* SECTION LABELS & ANCHORS' TARGETS */

/* 
Labels ('summary' elements) allow the opening of the different sections ('details' elements). They
appear inside the drawers of the filing cabinet.

Anchors' targets ('span' elements) are necessary since the section documents have a fixed position in
the viewport and can't trigger the scroll animation. These targets are transparent and are positioned at 
different heights of the filing cabinet in order to trigger the scroll animation correctly when using 
the post-it nav. 
*/

.section-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: #13110C min(.2vh, .3vw) solid;
    border-bottom: none;
    border-radius: max(.6vw, 5px) max(.6vw, 5px) 0 0;
    list-style: none;
    cursor: pointer;
    user-select: none;
    z-index: 5;
    & > div {
        display: grid;
        place-content: center;
        height: 80%;
        width: 80%;
        border: #32271F 1px solid;
        border-radius: max(.2vw, 1px);
        font: .8vmax var(--font-sans);
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

@supports (font-size: 1cqw) {
    .section-label {
        container-type: inline-size;
        & > div {
            font-size: 11cqw;
            border-width: 1.2cqw;
            letter-spacing: 1.6cqw;
        }
    }
}

/* 
The home label behaves as a closing document button.
*/

.close-btn {
    display: grid;
    place-content: center;
    position: fixed;
    top: 11vh;
    right: calc(50vw - (95vh*1218/1600)/2 - 5vw);
    aspect-ratio: 1;
    width: max(9vh, 4.5vw);
    border: clamp(.45vh, .3vw, 8px) var(--dark-ui-color) solid;
    border-radius: 50%;
    z-index: 50;
    list-style: none;
    cursor: pointer;
    user-select: none;
    &::before, 
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        height: 7%;
        width: 80%;
    }
}

.about-me-label {
    inset: 15.1% 60% 82.58% 20%;
    background-color: #646464;
}

.skills-label {
    inset: 13.75% 26% 84.28% 55%;
    background-color: #534733;
}

.projects-label {
    inset: 42.5% 55.5% 55.4% 25%;
    background-color: #5B4E38;
}

.contact-label {
    inset: 43.18% 31% 54.5% 49%;
    background-color: #6B6B6B;
}

.section-anchor {
    position: absolute;
    /* background-color: green;
    z-index: 100;
    height: 5px;
    width: 100px; */
}

#home-anchor {
    top: -20vh;
}

/* 
The following calculation allows the anchors' targets to be positioned in the perfect spots to coincide
with the drawers’ opening in the scroll animation. Even if it seems tricky, it comes from this
next simple reasoning.

First, the total height of the webpage is calculated as follows:

'total-height = certificate-margin-top + certificate-height + fcabinet-height'

The value of 'certificate-margin-top' is 10vh, while the value of 'fcabinet-height', as it is
the container, is 100%.

The value of 'certificate-height' needs to be calculated from its width and inverse aspect ratio:

'certificate-height = max(certificate-width, certificate-maxwidth) / aspect-ratio'

Once the 'total-height' is obtained, the dynamic viewport height needs to be subtracted from it,
resulting in the total scrollable height of the webpage.

As the drawers’ animation peaks at 30% and 75% of the scroll, respectively, we can obtain those heights
by multiplying the total scrollable height by 0.3 and 0.75.

However, the anchors' targets are positioned relative to the filing cabinet, so it is necessary to 
subtract 'certificate-top-margin' and 'certificate-height' from the calculation.

Therefore, the targets’ top offset for the About Me and Skills sections is:

sweet-point-1 = (cert-mgt + cert-h + fcab-h - view-h) · 0.3 - cert-mgt - cert-h

And for the Projects and Contact sections:

sweet-point-2 = (cert-mgt + cert-h + fcab-h - view-h) · 0.75 - cert-mgt - cert-h

As the numbers are slightly different at smaller resolutions, media queries provide alternatives 
to this expression.
*/

#about-me-anchor, #skills-anchor {
    top: calc((min(40vw,80rem)*806/1200 + 10vh + 100% - 100vh) * .3 - min(40vw,80rem)*806/1200 - 10vh);
}

#projects-anchor, #contact-anchor {
    top: calc((min(40vw,80rem)*806/1200 + 10vh + 100% - 100vh) * .75 - min(40vw,80rem)*806/1200 - 10vh);
}

/* FILING CABINET */

.filing-cabinet {
    position: relative;
    aspect-ratio: 1657/3217;
    max-width: 80rem;
    width: 40vw;
    top: -2vh;
    margin: 0 auto;
    & > div > div {
        position: absolute;
    }
}

.filing-cabinet__back {
    background-image: url(../src/fcabinet/fcabinet_slots_alt.png);
    background-image:
        image-set(
            url(../src/fcabinet/fcabinet_slots_medium.webp) 1x,
            url(../src/fcabinet/fcabinet_slots_large.webp) 2x
        );
    inset: 20.44% 7.22% 29.37%;
}

.filing-cabinet__folders-1, .filing-cabinet__folders-2 {
    background-image: url(../src/fcabinet/fcabinet_folders_alt.png);
    background-image:
        image-set(
            url(../src/fcabinet/fcabinet_folders_medium.webp) 1x,
            url(../src/fcabinet/fcabinet_folders_large.webp) 2x
        );
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__folders-1 {
    inset: 11.49% 11.89% 79.46%;
}

.filing-cabinet__folders-2 {
    inset: 39.54% 11.89% 51.42%;
}

.filing-cabinet__front {
    background-image: url(../src/fcabinet/fcabinet_structure_alt.png);
    background-image:
        image-set(
            url(../src/fcabinet/fcabinet_structure_medium.webp) 1x,
            url(../src/fcabinet/fcabinet_structure_large.webp) 2x
        );
    inset: 0;
    z-index: 10;
    pointer-events: none;
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-1 {
    background-image: url(../src/fcabinet/fcabinet_drawer1_alt.png);
    background-image:
        image-set(
            url(../src/fcabinet/fcabinet_drawer1_medium.webp) 1x,
            url(../src/fcabinet/fcabinet_drawer1_large.webp) 2x
        );
    inset: 20.44% 7.22% 55.07%;
    z-index: 15;
    filter: drop-shadow(0 0 5px #130D0C);
}

.filing-cabinet__drawer-2 {
    background-image: url(../src/fcabinet/fcabinet_drawer2_alt.png);
    background-image:
        image-set(
            url(../src/fcabinet/fcabinet_drawer2_medium.webp) 1x,
            url(../src/fcabinet/fcabinet_drawer2_large.webp) 2x
        );
    inset: 48.5% 9.07% 29.37%;
    z-index: 15;
    filter: drop-shadow(0 0 5px #130D0C);
}

/* VIEWPORT FIXED ELEMENTS & FOOTER */

.nav {
    background-image: url(../src/ui/postit_alt.png);
    background-image:
        image-set(
            url(../src/ui/postit_medium.webp) 1x,
            url(../src/ui/postit_large.webp) 2x
        );
    aspect-ratio: 930/916;
    height: max(45vh, 23vw);
    position: fixed;
    top: -5vh;
    left: 2vw;
    transform: rotate(4deg);
    z-index: 50;
    filter: drop-shadow(0 0 5px #130D0C);
}

.options {
    background-image: url(../src/ui/sheet_alt.png);
    background-image:
        image-set(
            url(../src/ui/sheet_medium.webp) 1x,
            url(../src/ui/sheet_large.webp) 2x
        );
    aspect-ratio: 930/551;
    height: max(25vh, 13vw);
    position: fixed;
    bottom: -2vh;
    left: 2.5vw;
    transform: rotate(-2deg);
    z-index: 50;
    filter: drop-shadow(0 0 5px #130D0C);
}

.viewport-overlay-upper-gradient {
    background: linear-gradient(#130D0C88, transparent);
    position: fixed;
    inset: 0 0 auto 0;
    height: 10vh;
    z-index: 40;
}

.viewport-overlay-lower-gradient {
    background: linear-gradient(transparent, #130D0C88);
    position: fixed;
    inset: auto 0 0 0;
    height: 10vh;
    z-index: 40;
}

.footer-overlay-gradient {
    background: radial-gradient(110% 80% at center bottom, #1D130F 60%, 85%, transparent);
    height: 70vh;
    max-height: 30%;
    position: absolute;
    inset: auto 0 0 0;
    z-index: 20;
}

/* SCROLL ANIMATION */

.filing-cabinet__drawer-1 {
    animation: 1ms linear scroll-open-drawer-1; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

.filing-cabinet__drawer-2 {
    animation: 1ms linear scroll-open-drawer-2; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll()
}

.filing-cabinet__folders-1 {
    animation: 1ms linear scroll-open-folders-1; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

.filing-cabinet__folders-2 {
    animation: 1ms linear scroll-open-folders-2; /* 'animation-duration: 1ms' is a Firefox requirement (MDN) */
    animation-timeline: scroll();
}

@keyframes scroll-open-drawer-1 {
    10%, 50% { transform: translateY(0); scale: 1; }
    25%, 35% { transform: translateY(40%); scale: 1.08; }
}

@keyframes scroll-open-drawer-2 {
    55%, 95% { transform: translateY(0); scale: 1; }
    70%, 80% { transform: translateY(40%); scale: 1.08; }
}

@keyframes scroll-open-folders-1 {
    10%, 50% { transform: translateY(0); scale: 1; }
    25%, 35% { transform: translateY(96%); scale: 1.08; }
}

@keyframes scroll-open-folders-2 {
    55%, 95% { transform: translateY(0); scale: 1; }
    70%, 80% { transform: translateY(90%); scale: 1.05; }
}

/*
Since folders are animated on scroll, anchor positioning of the documents' labels feels unstable.
Therefore, they were also animated on scroll.  
*/

.about-me-label {
    animation: 1ms linear scroll-open-label-1;
    animation-timeline: scroll();
}

.skills-label {
    animation: 1ms linear scroll-open-label-2;
    animation-timeline: scroll();
}

.projects-label {
    animation: 1ms linear scroll-open-label-3;
    animation-timeline: scroll();
}

.contact-label {
    animation: 1ms linear scroll-open-label-4;
    animation-timeline: scroll();
}

@keyframes scroll-open-label-1 {
    10%, 50% { transform: translateY(0); scale: 1; }
    25%, 35% { transform: translateY(369%); scale: 1.1; }
}

@keyframes scroll-open-label-2 {
    10%, 50% { transform: translateY(0); scale: 1; }
    25%, 35% { transform: translateY(425%); scale: 1.1; }
}

@keyframes scroll-open-label-3 {
    55%, 95% { transform: translateY(0); scale: 1; }
    70%, 80% { transform: translateY(380%); scale: 1.07; }
}

@keyframes scroll-open-label-4 {
    55%, 95% { transform: translateY(0); scale: 1; }
    70%, 80% { transform: translateY(343%); scale: 1.07; }
}

/* TIME ANIMATIONS & TRANSITIONS */

/*
The very next declaration block is necessary to ensure that the anchor is accessible for the main
nav to reach. 

When including animations in 'details' elements, the typical approach is to add 'content-visibility'
to the animation. However, by doing so, timing conflicts between anchor behavior and 'details' 
unfolding came up.

With 'content-visibility: visible', anchors' targets are always available and, even if the 'details' content
is no longer hidden, the animation allows for manual hiding. The use of 'details' is still
desirable since its reduces complexity and provides the accordion menu behavior.
*/

.filing-cabinet > details::details-content {
    content-visibility: visible;
}

.section-doc {
    animation: hide-document .3s both;
}

details[open] .section-doc {
    animation: show-document 1s .2s both;
}

@keyframes show-document {
    0% {
        transform: translateY(20vh);
        opacity: 0;
        scale: .7 .4;        
    }
    50% {
        transform: translateY(-50vh);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        scale: 1;
    }
}

@keyframes hide-document {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100vh);
        opacity: 0;
    }
}

.close-btn {
    visibility: hidden;
    background-color: var(--light-ui-color);
    filter: drop-shadow(0 0 3px #130D0C);
    transform: translateY(-25vh);
    transition:
        visibility 1s allow-discrete,
        transform 1s ease-in-out;
    &::before, &::after {
        background-color: var(--dark-ui-color);
        transition: transform .3s;
    }
    &:hover, &:focus-visible {
        background-color: hsl(from var(--light-ui-color) h s calc(l + 10));
        filter: drop-shadow(0 0 5px #DFCEAC);
    }
    &:active {
        background-color: hsl(from var(--light-ui-color) h calc(s - 10) calc(l - 20));
    }
    &:focus-visible {
        outline: #C4AA76 solid 2px;
        outline-offset: 1px;
    }
}

main:has(.filing-cabinet > details[open]) .close-btn {
    visibility: visible;
    transform: translateY(0) rotate(360deg);
    transition:
        visibility 1s .5s allow-discrete,
        transform 1s .5s linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.12 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1);
    &::before {
        transform: rotate(45deg);
        transition: transform .5s .7s cubic-bezier(0.32, 0, 0.67, 0);
    }
    &::after {
        transform: rotate(-45deg);
        transition: transform .5s .7s cubic-bezier(0.32, 0, 0.67, 0);
    }
}

.section-label {
    & > div {
        background-color: #B3AB9C;
    }
    &:hover, &:focus-visible {
        filter: drop-shadow(0 -3px 2px #DFCEAC66);
        & > div {
            background-color: hsl(from #B3AB9C h s calc(l + 10));
        }
    }
    &:active {
        filter: drop-shadow(0 -3px 2px #DFCEAC66);
        & > div {
            background-color: hsl(from #B3AB9C h s calc(l - 10));
        }
    }
    &:focus-visible {
        outline: #C4AA76 solid 2px;
        outline-offset: 1px; 
    }
}


/* STRUCTURE MEDIA QUERIES */

@media (orientation: portrait) and (max-width: 1200px) {
    .home {
        width: 90vw;
        margin-top: 20vh;
    }
    .filing-cabinet {
        width: 95vw;
        top: -1vh;
    }
    .section-doc {
        height: calc(120vw*1600/1190);
        max-height: 85vh;
        inset: 0 -20vw;
    }
    .close-btn {
        top: max(50dvh - 120dvw*1600/1190/2 - 3dvh, 2dvh);
        right: 7vw;
        width: max(10vw, 5.5vh);
    }
    #about-me-anchor, #skills-anchor {
        top: calc((90vw*806/1200 + 20vh + 100% - 100dvh) * .3 - 90vw*806/1200 - 20vh);
    }
    #projects-anchor, #contact-anchor {
        top: calc((90vw*806/1200 + 20vh + 100% - 100dvh) * .75 - 90vw*806/1200 - 20vh);
    }
    .nav {
        height: 60vw;
        max-height: 30vh;
        top: -4vh;
        left: -30px;
        transform: rotate(5deg);
    }
    .options {
        height: clamp(25vw, 18vh, 30vw);
        left: auto;
        right: -2vw;
        transform: rotateY(180deg) rotate(3deg);
        & .options {
            transform: rotatey(180deg);
        }
    }
}

@media (orientation: landscape) and (max-width:1500px) {
    .home {
        width: 50vw;
        left: 15vw;
    }
    .filing-cabinet {
        width: 50vw;
        left: 15vw;
    }
    .section-doc {
        left: 30vw;
    }
    .close-btn {
        right: max(35vw - 95vh*1218/1600/2 - 7vw, 1vw);
    }
    #about-me-anchor, #skills-anchor {
        top: calc((50vw*806/1200 + 10vh + 100% - 100dvh) * .3 - 50vw*806/1200 - 10vh);
    }
    #projects-anchor, #contact-anchor {
        top: calc((50vw*806/1200 + 10vh + 100% - 100dvh) * .75 - 50vw*806/1200 - 10vh);
    }
    
    @media (min-aspect-ratio: 1.8) {
        .section-doc-wrapper {
            display: block flow-root;
            position: fixed;
            width: 55vw;
            height: 100dvh;
            inset: 0 0 0 30vw;
            margin: auto;
            overflow: hidden auto;
            z-index: 30;
            opacity: 0;
            transform: translateX(60vw);
            transition: opacity .3s, transform .3s;
            scrollbar-color: var(--light-ui-color) transparent;
            scrollbar-width: thin;
        }
        details[open] .section-doc-wrapper {
            opacity: 1;
            transform: translateX(0);
        }
        .section-doc {
            position: static;
            margin: 5vh auto;
            height: auto;
            max-height: 180vh;
            width: 90%;
        }
        .close-btn {
            right: 1.5vw;
        }
    }
}

/* IMAGES MEDIA QUERY */

@media (max-width:1200px) {
    body {
        background-image: 
            radial-gradient(ellipse 60% 50%, transparent 65%, #130D0C55 95%, #130D0C77 100%),
            image-set(
                url(../src/background/background_small.webp) 1x,
                url(../src/background/background_medium.webp) 2x
            );
    }
    .home {
        background-image: 
            image-set(
                url(../src/fcabinet/certificate_small.webp) 1x,
                url(../src/fcabinet/certificate_medium.webp) 2x
            );
    }
    .about-me {
        background-image: 
            image-set(
                url(../src/documents/document1_small.webp) 1x,
                url(../src/documents/document1_medium.webp) 2x
            );
    }
    .skills {
        background-image: 
            image-set(
                url(../src/documents/document2_small.webp) 1x,
                url(../src/documents/document2_medium.webp) 2x
            );
    }
    .projects {
        background-image: 
            image-set(
                url(../src/documents/document3_small.webp) 1x,
                url(../src/documents/document3_medium.webp) 2x
            );
    }
    .contact {
        background-image: 
            image-set(
                url(../src/documents/document4_small.webp) 1x,
                url(../src/documents/document4_medium.webp) 2x
            );
    }
    .filing-cabinet__back {
        background-image: 
            image-set(
                url(../src/fcabinet/fcabinet_slots_small.webp) 1x,
                url(../src/fcabinet/fcabinet_slots_medium.webp) 2x
            );
    }
    .filing-cabinet__folders-1, .filing-cabinet__folders-2 {
        background-image: 
            image-set(
                url(../src/fcabinet/fcabinet_folders_small.webp) 1x,
                url(../src/fcabinet/fcabinet_folders_medium.webp) 2x
            );
    }
    .filing-cabinet__front {
        background-image: 
            image-set(
                url(../src/fcabinet/fcabinet_structure_small.webp) 1x,
                url(../src/fcabinet/fcabinet_structure_medium.webp) 2x
            );
    }
    .filing-cabinet__drawer-1 {
        background-image: 
            image-set(
                url(../src/fcabinet/fcabinet_drawer1_small.webp) 1x,
                url(../src/fcabinet/fcabinet_drawer1_medium.webp) 2x
            );
    }
    .filing-cabinet__drawer-2 {
        background-image: 
            image-set(
                url(../src/fcabinet/fcabinet_drawer2_small.webp) 1x,
                url(../src/fcabinet/fcabinet_drawer2_medium.webp) 2x
            );
    }
    .nav {
        background-image: 
            image-set(
                url(../src/ui/postit_small.webp) 1x,
                url(../src/ui/postit_medium.webp) 2x
            );
    }
    .options {
        background-image: 
            image-set(
                url(../src/ui/sheet_small.webp) 1x,
                url(../src/ui/sheet_medium.webp) 2x
            );
    }
}

/****************************************
                 NAV
*****************************************/

.nav-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    inset: 22% 10% 10% 22%;
    font: max(1.4rem, 4.5vmin) var(--font-handwritten);
    user-select: none;
}

.nav-anchor {
    border-radius: 1.2vmin;
    padding: 0 5%;
    &:hover, &:focus-visible {
        text-decoration: underline solid 6% currentColor;
        text-shadow: 0 0 10px #D4DEED;
        color: hsl(from var(--main-text-color) h calc(s + 10) calc(l + 20))
    }
    &:active {
        text-decoration: underline solid 6% currentColor;
        text-shadow: 0 0 10px #D4DEED;
        color: hsl(from var(--main-text-color) h calc(s - 10) calc(l - 20))
    }
    &:focus-visible {
        outline: hsl(from var(--main-text-color) h calc(s + 10) calc(l + 20)) solid 3px;
        outline-offset: 2px; 
    }
}

@supports (font-size: 1cqw) {
    .nav {
        container-type: inline-size;
        & > .nav-list {
           font-size: 10cqw;
        }
    }
}

/****************************************
           LANGUAGE SELECTOR
*****************************************/

/****************************************
                 HOME
*****************************************/

.home-content-wrapper, .home-content-wrapper header, .home-content-wrapper hgroup {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.home-content-wrapper {
    position: absolute;
    inset: 14% 10%;
    row-gap: 15%;
    font: 10px var(--font-serif);
    color: hsl(from var(--main-text-color) h s l / 85%);
    letter-spacing: .08vmax;
    & header {
        row-gap: 30%;
    }
    & small {
        color: hsl(from var(--main-text-color) h calc(s - 20) calc(l + 35) / 50%);
        font-weight: bold;
        filter: blur(.5px);
    }
    & h1 {
        font: 20px var(--font-script);
        letter-spacing: normal;
        color: #784E48;
        text-wrap: nowrap;
        line-height: .95;
    }
    & p {
        hyphens: none;
    }
}

@supports (font-size: 1cqw) {
    .home-content-wrapper {
        container-type: inline-size;
        & > * {
            font-size: 3.5cqw;
        }
        & small {
            font-size: 5cqw;
        }
        & h1 {
            font-size: 14cqw;
        }
    }
}

/****************************************
               ABOUT ME
*****************************************/

.about-me-content-wrapper {
    position: absolute;
    font: 10px var(--font-serif);
    inset: 8% 11% 5%;
    hyphens: auto;
}

.about-me-content-wrapper header {
    margin-bottom: 3%;
    text-align: center
}

/* TIMELINE */

.about-me-timeline ul {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2%;
    justify-content: center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        height: 3%;
        width: 75%;
        background-color: var(--main-text-color);
        top: 0;
    }
}

.about-me-timeline ul li {
    padding: 1% 2% 0;
    flex: 0 0 30%;
    text-align: center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: var(--main-text-color);
        width: 6%;
        aspect-ratio: 1;
        left: calc(50% - 3%);
        top: calc(-5%)
    }
}

.about-me-timeline time {
    text-wrap: nowrap;
}

/* TEXT */

.about-me-text h3 {
    margin-block: 3.2% .5%;
    padding-left: 3%; 
}

.about-me-text p {
    text-align: justify;
}

/* CONTAINER QUERY SIZING */

@supports (font-size: 1cqw) {
    .about-me-content-wrapper {
        container-type: inline-size;
        & > * {
            font-size: 3.05cqw;
        }
    }
    .about-me-timeline {
        & time {
            font-size: 3.5cqw;
        }
        & p {
            font-size: 2.5cqw;
        }
    }
}

/* MEDIA QUERY */

@media (max-aspect-ratio: .6) and (max-width: 1200px) {
    .about-me-text {
        width: 92%;
        margin: 0 auto;
    }
    @supports (font-size: 1cqw) {
        .about-me-text {
            font-size: 2.95cqw;
        }
    }
}

/****************************************
                SKILLS
*****************************************/

/* SKILLSTAMPS */

.skills-content-wrapper img {
    object-fit: 50% 30%;
}

/* STICKMAN ANIMATION */

.animation {
    margin: 200px 20px 20px;
    background-image: url(../src/skillanimation_sprite_large.png);
    background-repeat: no-repeat;
    width: calc(665px/5);
    height: calc(396px/2);
    border: 5px solid red;
    animation: 1.8s steps(1) infinite static-animation;
}

.activator {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 5px black solid;
    position: relative;
    top: -400px;
    right: -400px;
    border-radius: 50%;
    transition: 1s box-shadow, .5s scale;
}

.activator:hover {
    box-shadow: 0 0 10px 20px rgba(252, 240, 169, 0.972);
    scale: 1.1;
}

.animation:has(+.activator:hover) {
    animation: 
        .5s steps(1) trans-animation,
        1.8s .5s steps(1) infinite speak-animation;
}

@keyframes static-animation {
    0% { background-position: 0 0; }
    14.3%  { background-position: -133px 0; }
    28.6%  { background-position: -266px 0; }
    42.9%  { background-position:   0px 0; }
    57.2%  { background-position: -133px 0; }
    71.5%  { background-position: -266px 0; }
    85.8% { background-position: -399px 0; }
}

@keyframes trans-animation {
    0% {
        background-position: -532px 0;
    }
    50% {
        background-position: 0 -198px;
    }
}

@keyframes speak-animation {
    0% { background-position: -133px -198px; }
    14.3%  { background-position: -266px -198px; }
    28.6%  { background-position: -399px -198px; }
    42.9%  { background-position: -133px -198px; }
    57.2%  { background-position: -266px -198px; }
    71.5%  { background-position: -399px -198px; }
    85.8% { background-position: -532px -198px; }
}

/****************************************
               PROJECTS
*****************************************/

/****************************************
                CONTACT
*****************************************/

.contact-fake-text {
    font-size: .8rem;
    color: #543732;
    filter: blur(.5px);
    hyphens: auto;
}

/****************************************
                FOOTER
*****************************************/